:root {
  --base-Chinese-font: "Microsoft YaHei", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --color-dark: #333;
  --color-gray: gray;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  font-style: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  /* TODO change */
  font-family: var(--base-Chinese-font);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
}
a:hover {
}
a:visited {
}

#cv {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin-top: 0.7em;
  margin-bottom: 0.7em;

  break-before: auto;
  break-after: auto;
}

h2 {
  position: relative;
}

h5 {
  font-size: 14px;
}

/* Style */

.info {
  display: grid;
  grid-template-areas:
    "picture picture name          name          name"
    "picture picture base-info     base-info     base-info"
    "picture picture contact-links contact-links contact-links";
}

.picture {
  grid-area: picture;
  display: flex;
  align-items: end;
}
.picture > img {
  width: 100%;
}

.name {
  text-align: center;
  grid-area: name;
  font-size: xx-large;
}

.base-info {
  grid-area: base-info;
}

.contact-links {
  grid-area: contact-links;
}

.base-info,
.contact-links {
  padding: 0;
  padding-top: 10px;
  margin-left: 80px;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

.base-info > li,
.contact-links > li {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  text-align: center;
}

.introduction,
.experiences,
.language,
.projects,
.education,
.language {
  margin-top: 35px;
}

.logo img {
  max-height: 64px;
  max-width: 64px;
}

.company-name,
.school-name {
  margin-bottom: 0;
}

.company-website {
  font-size: small;
}

.company-address,
.school-address {
  font-size: small;
  color: var(--color-gray);
}

.role {
  margin: 0;
}

.tenure,
.duration {
  font-size: small;
  color: var(--color-gray);
  margin-bottom: 10px;
}

.tech-logos {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 64px);
  width: 332px;
  column-gap: 8px;
  row-gap: 8px;
  padding: 0;
  margin: 0 auto;
}

.tech-logo {
  display: flex;
  align-items: center;
}

.tech-logo > img {
  padding: 8px;
}

.gpa {
  margin-left: 10px;
}

.two-column-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.language-list {
  list-style-type: none;
  padding-left: 0;
}

.language-flag {
  padding-right: 10px;
}

.language-skill {
  padding-left: 80px;
}

.start-line {
  width: 80px;
  position: relative;
  height: 3px;
  background-color: black;
  border: none;
}

.projects-list {
  list-style-type: none;
  padding: 0;
}

.projects-list > li > div {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.projects .tech-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
}

.project-website {
  font-size: small;
  text-align: end;
}

/* icon */
.icon-small {
  font-size: 24px;
}

.icon-medium {
  font-size: 48px;
}

.icon-large {
  font-size: 64px;
}

/* logo */
.logo-small {
  width: 24px;
}

.logo-medium {
  width: 48px;
}

.logo-large {
  width: 64px;
}
/* timeline */
.timeline {
  list-style-type: none;
}

.timeline > li {
  position: relative;
}

.timeline > li > section .logo {
  position: absolute;
  left: -40px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-detail {
  border-left: 1px solid #333;
  padding: 5px 0 30px 70px;
  margin-top: 20px;
}

.timeline > li:last-child > .timeline-detail {
  padding-bottom: 5px;
}

.timeline-info {
  padding-left: 70px;
}
